@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;	
	-webkit-text-size-adjust: 100%;	
	text-size-adjust: 100%;

}		
*, *::before, *::after{
	box-sizing: inherit;
}
label {
	display: block;
	cursor: pointer;
}
input + label {
	display: inline;
	padding: .5em;
}
input {
	border: 2px solid blue;
	background-color: lightblue;
	font-size: 12px;
	padding: 5px;
	width: 50%;
}

button {
	font-size: 12px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid blue;
	background-image: linear-gradient(blue, lightblue);
}